<!DOCTYPE html>
<html>

<head>
  <title>Notepad</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
</head>

<body>

  <div class="nav-bar">
    <a href="/">Inicio</a>
    <a href="/gerenciamento">Gerenciamento</a>
    <a href="/nota">Notas</a>
    <a href="/edicoes">Edições</a>
    <a href="/dados" style="color: #007ACC">Dados</a>
    <a href="/sobre">Sobre</a>
  </div>

  <div class="content" style="color:white">
    <%if(typeof dados !=='undefined'){%>
    <h3><%=dados%></h3>
    <%}%>
  </div>

</body>
</html>