<!DOCTYPE html>
<html>

<head>
  <title>Notepad</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="functions.css">
</head>

<body>

  <div class="nav-bar">
    <a href="/">Inicio</a>
    <a href="/gerenciamento" style="color: #007ACC">Gerenciamento</a>
    <a href="/nota">Notas</a>
    <a href="/edicoes">Edições</a>
    <a href="/dados">Dados</a>
    <a href="/sobre">Sobre</a>
  </div>

  <div class="content">
    <div class="funcionalidade">
      <input id="id" class="escolha" placeholder="Digite um id" type="number" min="1">
      <div>
        <button id="edition">Editar</button>
        <button id="delete">Deletar</button>
      </div>
    </div>
    <ul>
      <%if(typeof notas !=='undefined' && notas.length> 0){%>
        <% for(let i=0; i < notas.length; i++){%>
          <li style="color: white">id <%=i+1%> - Nota: <%=notas[i].substring(0, 5)%>...</li>
          <%} %>
            <%}%>
    </ul>
  </div>
</body>

<script>
  const edition = document.getElementById('edition');
  const removal = document.getElementById('delete');

  edition.addEventListener('click', openNote);
  removal.addEventListener('click', deleteNote)

  function openNote(e) {
    window.location.href = `/nota?id=${document.getElementById('id').value}`;
  }

  function deleteNote(e) {
    var id = document.getElementById('id');
    fetch('/delete', {
      method: 'DELETE',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        id: id.value
      })
    }).finally(
      setTimeout(() => {
        window.location.reload()
      }, 25)
    )
  }
</script>

</html>