<!DOCTYPE html>
<html>

<head>
  <title>Notepad</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
</head>

<body>

  <div class="nav-bar">
    <a href="/" style="color: #007ACC">Inicio</a>
    <a href="/gerenciamento">Gerenciamento</a>
    <a href="/nota">Notas</a>
    <a href="/edicoes">Edições</a>
    <a href="/frequencia">Frequência</a>
    <a href="/sobre">Sobre</a>
  </div>

  <div class="content" style="color:white">
    Gerenciamento - Administre todas suas notas
    <br><br>
    Notas - Criação e edição de notas
    <br><br>
    Edições - Edições rápidas de nota
    <br><br>
    Frequência - Frequência de caracteres das notas
    <br><br>
    Sobre - Informações sobre o projeto
  </div>

</body>

</html>